*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    /* letter-spacing: .18vw; */
}
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    /* cursor: none; */
}
::selection{
    background-color: #ffffff;
    color: black;
}
.btn{
    border: none;
    padding: 1rem 2.8rem;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 1.1rem;
}
.loading{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.loader{
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    font-weight: 800;
    scale: 0;
    color: white;
}
.loader p{
    display: none;
    opacity: 0;
    
}
.circle{
    position: fixed;
    scale: 0;
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    font-weight: 700;
    /* cursor: none; */
}
.circle p{
    /* cursor: none; */
}
/* .main{
    opacity: 0;
    display: none;
} */
.hero{
    height: 80vh;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0 3rem;
    padding-top: 1rem;
    overflow: hidden;
}
.heroup{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 700;
}
.herodown{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10rem;
    font-weight: 800;
    line-height: 8rem;
    /* letter-spacing: .5rem; */
    padding: 5rem 0;
    position: relative;
}
.page1{
    height: 20vh;
    width: 100%;
    padding: 0 3rem;
    background-color: rgb(8, 8, 8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.page1left{
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.page1right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 1rem;
}
.page1right a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    /* letter-spacing: .1vw; */
}
.page1right a::after{
    content: "";
}
.page1right a svg{
    height: 1.5rem;
    /* width: 100%; */
    fill: rgb(255, 255, 255);
}
.page2{
    min-height: 100vh;
    width: 100%;
    padding: 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* border: 2px solid red; */
}
.page2left{
    overflow: hidden;
    /* background-color: red; */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid yellow; */
    
}
.page2right{
    /* background-color: blue; */
    width: 50%;
    height: 100%;
    padding: 3rem 5rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    /* border: 2px solid blue; */
    /* text-align: center; */
}
.page2right p{
    /* width: 80%; */
    font-size: 1.3rem;
}
.page2right a{
    text-decoration: none;
    color: rgb(224, 224, 224);
}
.page2left img{
    /* height: 100%; */
    width: 100%;
    /* filter: grayscale(1) contrast(1.1); */
    /* border-radius: 50%; */
}
.page2down{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page2down a{
    background-color: rgb(8, 8, 8);
    padding: .5rem 1.2rem;
    font-weight: 700;
    border-radius: .1rem;
}
.page3{
    padding: 2rem 3rem;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: column;
    background-color: rgb(8, 8, 8);
    position: relative;
    /* border: 2px solid red; */
}
/* .procircle{
    padding: 4rem;
    height: 5rem;
    width: 5rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    display: none;
    z-index: 999;
} */
/* .procircle p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 600;
}
.procircle p svg{
    width: 1rem;
    fill: white;
} */
.page3up{
    font-size: 3rem;
    font-weight: 700;
    /* border: 2px solid blue; */
}

.projects{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: row;
    /* border: 2px solid green; */

}

.project{
    /* height: 40rem; */
    width: 48%;
    /* border: 5px solid yellow; */
}
.project img{
    height: 100%;
    width: 100%;
}
.project2{
    border-top: 2rem solid white;
    /* border-bottom: 1rem solid white; */
}
.project3{
    border-top: 2rem solid white;
    /* border-bottom: 1rem solid white; */
}
.project1{
    border-top: 2rem solid #10a37f;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-box{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 99;
}
.p-box a{
    
}
.page4{
    padding: 3rem 3rem 0rem 3rem;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.p4links{
    width: 100%;
    height: 5rem;   
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.p4l-1 a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
.p4l-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-weight: 500;
}
.p4l-2 a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}
.p4l-2 a svg{
    width: 1rem;
    height: 1rem;
    fill: white;
}
.p4mid{
    font-size: 10rem;
    font-weight: 800;
    /* border: 2px solid red; */
    text-align: center;
    width: 100%;
}
.p4bottom{
    font-weight: 600;
}

@media screen and (max-width: 600px){
    .hero{
        width: 100%;
        height: 80vh;
        padding: 0 1rem;
        /* background-color: blue; */
    }
    .heroup{
        padding: 2rem 0rem;
    }
    .herodown{
        font-size: 4rem;
        font-weight: 800;
        line-height: 3.5rem;
    }
    .page1{
        height: 20vh;
        width: 100%;
        padding: 1rem 1rem;
        padding-bottom: 4rem;
        background-color: rgb(8, 8, 8);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;
        /* background-color: red; */
    }
    .page1left{
        font-size: 1rem;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
    }
    .page1right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        gap: 0rem;
    }
    .page1right a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }
   
    .page1right a svg{
        height: 1.5rem;
        fill: white;
    }
    .page2{
        min-height: 100vh;
        width: 100%;
        padding: 5rem 1rem;
        /* padding-top: 6rem; */
        flex-direction: column;
        gap: 3rem;
        /* background-color: blue; */
    }
    .page2left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .page2right{
        width: 100%;
        
    }
    .page2left img{
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
    }
    .page3{
        padding: 5rem 1rem;
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        /* background-color: red; */
    }
    .page3up{
        font-size: 3rem;
        font-weight: 700;
    }
    .projects{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2rem;
        flex-direction: column;
    }
    .project{
        height: 18rem;
        width: 32rem;
        background-color: white;
    }
    .project img{
        height: 100%;
        width: 100%;
    }
    .project1{
        border-top: 2rem solid white;
        /* border-bottom: 1rem solid white; */
    }
    .project3{
        border-top: 2rem solid white;
        /* border-bottom: 1rem solid white; */
    }
    .project2{
        border-top: 2rem solid #10a37f;
    }
    .page4{
        padding: 1rem 1rem 0 1rem;
        height: 60vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        /* background-color: red; */
    }
    .p4links{
        width: 100%;
        height: fit-content;
        /* background-color: green; */
        /* background-color: grey; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;
        border-bottom: 1px solid white;
    }
    .p4l-1 a{
        text-decoration: none;
        color: white; 
        font-size: 2rem;
        font-weight: 700;
    }
    .p4l-2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        font-weight: 500;
    }
    .p4l-2 a{
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .3rem;
    }
    .p4l-2 a svg{
        width: 1rem;
        height: 1rem;
        fill: white;
    }
    .p4mid{
        font-size: 3rem;
        font-weight: 800;
    }
    .p4bottom{
        font-weight: 600;
    }
}