*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    /* letter-spacing: .18vw; */
}
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
::selection{
    background-color: #ffffff;
    color: black;
}
.btn{
    border: none;
    padding: 1rem 2.8rem;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 1.1rem;
}
.loading{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.loader{
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    font-weight: 800;
    scale: 0;
    color: white;
}
.loader p{
    display: none;
    opacity: 0;
    
}
.circle{
    position: fixed;
    scale: 0;
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    font-weight: 700;
    cursor: none;
}
.circle a{
    text-decoration: none;
    color: white;
}
/* .main{
    opacity: 0;
    display: none;
} */
.hero{
    height: 80vh;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0 3rem;
    padding-top: 1rem;
    overflow: hidden;
}
.heroup{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 700;
}
.herodown{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10rem;
    font-weight: 800;
    line-height: 8rem;
    /* letter-spacing: .5rem; */
    padding: 5rem 0;
    position: relative;
}
.page1{
    height: 20vh;
    width: 100%;
    padding: 0 3rem;
    background-color: rgb(8, 8, 8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.page1left{
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.page1right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 1rem;
}
.page1right a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    /* letter-spacing: .1vw; */
}

.page1right a svg{
    height: 1.5rem;
    /* width: 100%; */
    fill: rgb(255, 255, 255);
}
.page2{
    min-height: 100vh;
    width: 100%;
    padding: 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* border: 2px solid red; */
}
.page2left{
    overflow: hidden;
    /* background-color: red; */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid yellow; */
    
}
.page2right{
    /* background-color: blue; */
    width: 50%;
    height: 100%;
    padding: 3rem 5rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    /* border: 2px solid blue; */
    /* text-align: center; */
}
.page2right p{
    /* width: 80%; */
    font-size: 1.3rem;
}
.page2right a{
    text-decoration: none;
    color: rgb(224, 224, 224);
}
.page2left img{
    /* height: 100%; */
    width: 100%;
    /* filter: grayscale(1) contrast(1.1); */
    /* border-radius: 50%; */
}
.page2down{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}
.page2down a{
    background-color: rgb(8, 8, 8);
    padding: .5rem 1.2rem;
    font-weight: 700;
    border-radius: .1rem;
}
.page3{
    padding: 2rem 3rem;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: column;
    background-color: rgb(8, 8, 8);
    position: relative;
}

.page3up{
    font-size: 3rem;
    font-weight: 700;
    /* border: 2px solid blue; */
}

.projects{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: row;
    /* border: 2px solid green; */

}

.project{
    /* height: 40rem; */
    width: 48%;
    /* border: 5px solid yellow; */
}
.project img{
    height: 100%;
    width: 100%;
}
.project2{
    border-top: 2rem solid white;
    /* border-bottom: 1rem solid white; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project3{
    border-top: 2rem solid white;
    /* border-bottom: 1rem solid white; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project1{
    border-top: 2rem solid #10a37f;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-box{
    width: 100%;
    height: 100%;
    background-color: rgb(219, 96, 96);
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

}
.p-box a{
    font-size: 10rem;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: red;
    cursor: none;

}
.page4{
    padding: 3rem 3rem 0rem 3rem;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}
.p4links{
    width: 100%;
    height: 5rem;   
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.p4l-1 a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
.p4l-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-weight: 500;
}
.p4l-2 a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}
.p4l-2 a svg{
    width: 1rem;
    height: 1rem;
    fill: white;
}
.scrolls{
    font-size: 10rem;
    font-weight: 800;
    /* border: 2px solid red; */
    text-align: center;
    width: 200%;
    overflow-x: hidden;
}
.p4bottom{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-direction: row;
    font-size: 3rem;
}
.scannerhead2{
    display: none;
}
.scannerhead{
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.scannerhead svg{
    fill: black;
    background-color: white;
    width: 3rem;
    padding: .4rem;
    border-radius: 50%;
}

.scroll{
    padding: 3rem 3rem 2rem 3rem;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 600px){
    .btn{
        border: none;
        padding:.81rem 2.4rem;
        border-radius: 3rem;
        font-weight: 700;
        font-size: 1rem;
        color: black;
    }
    .circle{
        display: none;
    }
    .hero{
        height: 60vh;
        padding: 0 1rem;

    }
    .heroup{
        padding-top: 1rem;
    }
    .herodown{
        font-size: 4rem;
        line-height: 3.5rem;
    }
    .page1{
        padding: 2rem 1rem;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .page2{
        flex-direction: column;
        padding: 3rem 1rem;
        gap: 3rem;
    }
    .page2left{
        /* background-color: yellow; */
        height: 100%;
        width: 100%;
    }
    .page2left img{
        width: 120%;
        /* height: 100%; */
        /* scale: 1.4; */

    }
    .page2right{
        padding: 0 1rem;
        width: 100%;
        gap: 2rem;
        /* background-color: red; */
    }
    .page2down{
        width: 100%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: start;
        /* gap: 2rem; */
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .page2down a{
        background-color: rgb(43, 43, 43);
        padding: .5rem 1.2rem;
        font-weight: 700;
        border-radius: .1rem;
    }
    .page3{
        padding: 2rem 1rem;
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
        flex-direction: column;
        /* background-color: rgb(8, 8, 8); */
        /* background-color: red; */
        position: relative;
    }
    .projects{
        width: 100%;
        height: fit-content;
    
    }
    .project{
        width: 100%;
    }
    
    .project2{
        border-top: 1rem solid white;
    }
    .project3{
        border-top: 1rem solid white;
    }
    .project1{
        border-top: 1rem solid #10a37f;
    }
    .p-box{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.192);
        position: absolute;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        color: white;
    
    }
    .p-box a{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 1rem;
        padding: 2rem;
        width: 10%;
        height: 10%;
        text-decoration: none;
        font-weight: 700;
        font-size: 1rem;
        color: rgb(0, 0, 0);
        text-align: center;
        background-color: rgb(255, 255, 255);
    }
    .scroll{
        padding: 3rem 3rem 2rem 3rem;
        /* height: fit-content; */
        width: 200%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: red; */
    }
    .scrolls{
        font-size: 3rem;        
        overflow-x: hidden;
    }
    .page4{
        padding: 3rem 1rem;
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 3rem;
        /* background-color: red; */
        
    }
    .p4links{
        width: 100%;
        height: fit-content;   
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid white;
        flex-direction: column;
        gap: 1rem;
    }
    .p4l-2{
        /* background-color: red; */
        width: 100%;
        justify-content: space-between;
        padding-bottom: .8rem;
    }
    .p41-2 a{
        width: fit-content;
        height: fit-content;
    }
    .p4l-2 a svg{
        height: 1.5rem;
    }
    .p4bottom{
        padding: 3rem 1rem;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    .scanning{
        display: none;
    }
    .scannerhead2{
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .scannerhead2 svg{
        fill: black;
        background-color: white;
        width: 3rem;
        padding: .4rem;
        border-radius: 50%;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}